--- lib/Kconfig
+++ lib/Kconfig
@@ -336,12 +336,24 @@
 
 config LZ4HC_COMPRESS
 	tristate
 
 config LZ4_DECOMPRESS
 	tristate
+	
+config LZ4K_COMPRESS
+	tristate
+
+config LZ4K_DECOMPRESS
+	tristate
+
+config LZ4KD_COMPRESS
+	tristate
+
+config LZ4KD_DECOMPRESS
+ 	tristate
 
 config ZSTD_COMMON
 	select XXHASH
 	tristate
 
 config ZSTD_COMPRESS
